### OSX template
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
src/
config/constant.php
composer.phar


### Example user template

# IntelliJ project files
/.idea
*.iml
.idea/
.idea/workspace.xml
out
gen
# Created by .ignore support plugin (hsz.mobi)
assets/admin/_con/Iconr
assets/admin/_con/css/Iconr
assets/admin/_con/images/Iconr
assets/admin/_con/js/Iconr
assets/admin/angularjs/Iconr
assets/admin/angularjs-materialize/Iconr
assets/admin/angularjs/plugins/Iconr
assets/admin/animate.css/Iconr
assets/admin/ckeditor/Iconr
assets/admin/d3/Iconr
assets/admin/dataTables/Iconr
assets/admin/dataTables/extensions/Iconr
assets/admin/dataTables/extensions/Scroller/Iconr
assets/admin/dataTables/extensions/Scroller/js/Iconr
assets/admin/dataTables/extensions/TableTools/Iconr
assets/admin/dataTables/extensions/TableTools/js/Iconr
assets/admin/dataTables/js/Iconr
assets/admin/dropzone/Iconr
assets/admin/flagIcons/Iconr
assets/admin/flot/Iconr
assets/admin/font-awesome/Iconr
assets/admin/font-awesome/css/Iconr
assets/admin/font-awesome/fonts/Iconr
assets/admin/fullcalendar/Iconr
assets/admin/gmaps/Iconr
assets/admin/google-code-prettify/Iconr
assets/admin/html5shiv/Iconr
assets/admin/ionicons/Iconr
assets/admin/ionicons/css/Iconr
assets/admin/ionicons/fonts/Iconr
assets/admin/isotope/Iconr
assets/admin/jquery/Iconr
assets/admin/jquery-clockpicker/Iconr
assets/admin/jquery-input-mask/Iconr
assets/admin/jquery-jvectormap/Iconr
assets/admin/jquery-tags-input/Iconr
assets/admin/jqueryRAF/Iconr
assets/admin/markitup/Iconr
assets/admin/markitup/sets/Iconr
assets/admin/markitup/sets/default/Iconr
assets/admin/markitup/sets/default/images/Iconr
assets/admin/markitup/skins/Iconr
assets/admin/markitup/skins/_con/Iconr
assets/admin/markitup/skins/_con/images/Iconr
assets/admin/material-design-icons/Iconr
assets/admin/material-design-icons/css/Iconr
assets/admin/material-design-icons/font/Iconr
assets/admin/materialize/Iconr
assets/admin/materialize/js/Iconr
assets/admin/nanoScroller/Iconr
assets/admin/nvd3/Iconr
assets/admin/parsley/Iconr
assets/admin/PhotoSwipe/Iconr
assets/admin/PhotoSwipe/default-skin/Iconr
assets/admin/pikaday/Iconr
assets/admin/rickshaw/Iconr
assets/admin/select2/Iconr
assets/admin/select2/css/Iconr
assets/admin/select2/js/Iconr
assets/admin/simpleWeather/Iconr
assets/admin/sortable/Iconr
assets/admin/sparkline/Iconr
assets/admin/spectrum/Iconr
assets/admin/video.js/Iconr
assets/admin/video.js/font/Iconr
assets/admin/video.js/plugins/Iconr
assets/admin/weatherIcons/Iconr
assets/admin/weatherIcons/css/Iconr
assets/admin/weatherIcons/font/Iconr
assets/admin/wow.js/Iconr
