@font-face {
    font-family: "Roboto Light";
    src: url('../../assets/font/roboto/roboto-light.eot');
    src: local('☺'), url('assets/font/roboto/roboto-light.woff') format('woff'), url('../font/roboto/roboto-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.container {
    width: 100%;
    max-width: none;
}

/*** HEADER ***/

nav {
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 0;
    z-index: 1;
}

.nav-wrapper {
    width: 90%;
    margin: auto;
}

nav ul li a {
    color: #4a4a4a;
}

nav ul li a:hover {
    color: #777777;
}

.logo {
    position: absolute;
}


/*** HERO IMAGE ***/

.big-img {
    height: 85vh;
    background-image: url(../../assets/img/vol-dark.jpg);
    background-position: center;
    background-size: cover;
}

.blocprincipal {
    height: 85vh;
    z-index: 2;
    width: 50%;
}

.content-bloc {
    padding: 40px;
}

.big-title {
    margin: 2.1rem 0 0 0 !important;
}

.material-icons {
    vertical-align: middle;
    margin-right: 5px;
}

.btn {
    background-color: #5498d4;
    box-shadow: none;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    padding: 0 1.5rem;
}

.btn:hover {
    box-shadow: none;
}


/*** EVENTS ***/

a.viewmore.btn.btn-vue {
    color: #5498d4;
}

a.viewmore.btn.btn-blue {
    color: #FFF;
    border:1px solid #5498D4;
}

a.viewmore.btn.btn-vue:hover {
    color: #FFF;
}

a.viewmore.btn.btn-vue:focus,
a.card-action:focus,
.grey-text.text-lighten-3:focus,
btn-blue:focus {
    box-shadow: 0px 0px 5px rgba(56, 169, 240, 0.75);
}

.btn-vue {
    background: #fff;
    border: 2px solid #5498d4;
    color: #5498d4;
}

.btn-vue:hover {
    background: #5498d4;
    color: #fff;
}

.btn-orange {
    background-color: #fb8c00;
    border-bottom: 1px solid #e27e00;
}

.btn-blue:hover {
    background-color: #FFF;
    box-shadow: none;
    border:1px solid #5498D4;
    color:#5498D4;
}

a.viewmore.btn.btn-blue:hover {
    color:#5498D4;
}

.btn-orange:hover {
    background-color: #f8a133;
    box-shadow: none;
}

.space1 {
    margin-bottom: 25px;
}

.top-space {
    margin-top: 25px;
}

.page-content {
    width: 90%;
    margin: 0 auto;
}

.title-section {
    font-size: 2.2em;
    text-transform: uppercase;
    color: #4a4a4a;
}


/*** CARDS EVENTS - CATEGORIES ***/

.popevent {
    width: 100%;
}

.fancy-hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.card .card-image {
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
    position: relative;
}

.card-image img {
    height: 100%;
}

.item {
    position: relative;
    overflow: hidden;
}

.item img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.item:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.text-wrapper {
    position: absolute;
    top: 50%;
    margin-top: -24.5px;
    text-align: center;
    width: 100%;
}

.text-wrapper h6 {
    font-size: 2.5em;
}

.margin-cat-bottom {
    margin-bottom: 0;
}

.margin-cat-top {
    margin-top: 0;
}

.card-image img {
    height: auto;
    width: 100%;
}

.card-content {
    padding: 13px 20px !important;
}

.titre-cards {
    font-size: 1.5rem;
    margin: 0.44rem 0 0.12rem 0;
    font-weight: 600;
    margin: 0;
}

.card-action {
    position: relative;
    padding: 15px !important;
}

.viewmore {
    position: absolute;
    right: 0;
    top: 8px;
}

a.viewmore.btn-vue {
    box-shadow: none;
}

/*** double contenu ***/

.double-content {
    width: 50%;
    height: 270px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0!important;
}

/*********/

.bgleft {
    background-color: #5498d4;
    background: linear-gradient(230deg, #00BBE0, #3a7bd5);
}

.bgright {
    background-color: #ff8b02;
    background: linear-gradient(230deg, #FF9900, #D55E3A);
}

.bgorange {
    background: linear-gradient(to left, rgba(240, 152, 25, 0.4), rgba(163, 152, 206, 0.4));
    transition: 0.3s;
}

.bgorange:hover {
    background: linear-gradient(to left, rgba(204, 81, 10, 0.4), rgba(173, 109, 30, 0.4));
    transition: 0.3s;
}

.bgblue {
    background: linear-gradient(to left, rgba(163, 152, 206, 0.4), rgba(80, 88, 187, 0.4));
    transition: 0.3s;
}

.bgblue:hover {
    background: linear-gradient(to left, rgba(80, 98, 187, 0.4) , rgba(72, 80, 170, 0.4));
    transition: 0.3s;
}

/*** FOOTER ***/

footer.page-footer {
    margin-top: 0;
    background-color: #3a3a3a;
}

.footer-wrapper {
    width: 90%;
    background-color: #3a3a3a;
    margin: 0 auto !important;
}

.footer-elements {
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 30px;
}

.title-list {
    font-size: 1.4em;
    padding-bottom: 20px;
}

.social-list li {
    display: inline !important;
}

.icon-social {
    padding-right: 5px;
}

.grey-text.text-lighten-3:hover {
    color: #777777 !important;
}

/*** HIDDEN MENU ***/

.side-nav li {
    padding: 0px;
}

.side-nav li a:hover {
    background-color: orange;
}

.button-collapse {
    color: #4a4a4a;
}

.newsletter-home {
    color: #FFF;
}

/*** PAGE EN CONSTRUCTION ***/

.img-full {
    height: 100vh;
    background: rgba(10, 251, 255, 1);
    background: -moz-linear-gradient(-45deg, rgba(10, 251, 255, 1) 0%, rgba(10, 251, 255, 1) 1%, rgba(222, 168, 60, 1) 94%, rgba(222, 168, 60, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(10, 251, 255, 1) 0%, rgba(10, 251, 255, 1) 1%, rgba(222, 168, 60, 1) 94%, rgba(222, 168, 60, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(10, 251, 255, 1) 0%, rgba(10, 251, 255, 1) 1%, rgba(222, 168, 60, 1) 94%, rgba(222, 168, 60, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(10, 251, 255, 1) 0%, rgba(10, 251, 255, 1) 1%, rgba(222, 168, 60, 1) 94%, rgba(222, 168, 60, 1) 100%);
    background: linear-gradient(135deg, rgba(10, 251, 255, 1) 0%, rgba(10, 251, 255, 1) 1%, rgba(222, 168, 60, 1) 94%, rgba(222, 168, 60, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#0afbff', endColorstr='#dea83c', GradientType=1);
}

.404 {
/*background-color: #FFF;*/
    box-shadow: none;
    position: absolute;
    top: 0;
}

.nav-wrapper {
    width: 90%;
    margin: auto;
}

.btn-menu {
    background: none;
    border: 2px solid #fb8c00;
    color: #4a4a4a;
    text-transform: none;
}


/*Bouton menu avec gradient
.btn-menu {
    position: relative;
    background: white;
    border-radius: 0;
    height: 32px;
}

.btn-menu::after {
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: #FF512F;
    background: -webkit-linear-gradient(to left, #FF512F , #F09819);
    background: linear-gradient(to left, #FF512F , #F09819);
    content: '';
    z-index: -1;
    border-radius: 2px;
}*/

.btn-menu:hover {
    background: #fb8c00;
    color: #fff;
    box-shadow: none;
}

nav ul li:hover {
    background-color: transparent !important;
}

.btn-menu-bis,
.btn-hoverbleu,
.btn-hoveror,
.btn-hoverdark {
    background: none;
    border: 1px solid #fff;
    color: #FFF;
    text-transform: none;
}

.btn-menu-bis:hover {
    background-color: #fff;
    box-shadow: none;
    text-shadow: none;
}

.txtshadow {
    text-shadow: 0px 0px 4px black;
}

.hoverdark:hover {
    color: #3a3a3a;
}

.btn-hoverbleu:hover {
    color: #5498d4;
}

.btn-hoveror:hover {
    color: #fb8c00;
}

.helper1 {
    padding-bottom: 100px;
}

/* label color */

.page_event {
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    height: auto;
    width: auto;
    position: relative;
}

.relative {
    position: relative;
}

/**** LOG IN ****/

.bluebody {
    background: #00d2ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #00d2ff, #3a7bd5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #00d2ff, #3a7bd5);
    vertical-align: middle;
}

.modal {
    width: 350px;
    text-align: center;
    top: 15% !important;
    max-height: none;
}

.login-form .space-bot {
    margin-bottom: 20px !important;
}

.login-form .row {
    margin-bottom: 0;
}

.modal-content {
    padding: 0 24px !important;
}

.medium-small a:hover {
    text-decoration: underline;
}

.sociallog {
    vertical-align: middle;
}

.titre-login {
    background: #fb8c00;
    height: 80px;
    line-height: 80px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.btn-fb,
.btn-tw {
    width: 100%;
}

.btn-fb {
    background-color: #46629E;
    border-bottom: 1px solid #314571;
    margin-bottom: 5px;
}

.btn-fb:hover {
    opacity: 0.9;
    background-color: #46629E;
}

.btn-tw {
    background-color: #5EA9DD;
    border-bottom: 1px solid #2595c4;
}

.btn-tw:hover {
    opacity: 0.9;
    background-color: #5EA9DD;
}

/**** CREATE EVENT ****/

p {
    color: #666;
}

.separateur_form {
    border-bottom: 2px solid orange;
    height: 50px;
    padding-left: 0 !important;
}

.bullet_point {
    background-color: orange;
    height: 50px;
    width: 50px;
    border-radius: 2px 2px 0px 0px;
    position: absolute;
}

.num_bullet_point {
    padding-left: 20px;
    margin-top: 10px;
    font-size: 1.5em;
    color: white;
}

.plus_bullet_point {
    padding-left: 6px;
    margin-top: 4px;
    font-size: 2em;
    color: white;
}

.text_separteur {
    margin-left: 80px;
    padding-top: 0px;
    font-size: 1.5em;
    width: 80%;
    color: #666;
}

/******************************************/

.form-small {
    font-size: 0.8em;
}

.datepicker {
    margin-top: -30px !important;
}

.secure-select {
    margin-top: 20px;
}

.secure-label {
    margin-top: -15px;
    font-size: 0.8em !important;
}

.secure-mission {
    margin-top: 20px;
}

.btn_plus {
    height: 50px;
    width: 50px;
    border-radius: 5px 5px 10px 0px;
    background-color: orange;
    position: relative;
    margin-top: 21px;
    transition: 0.5s ease-in-out;
}

.btn_plus:hover {
    background-color: coral;
}

.secure_nb_vol {
    margin-top: 0px
}

.btn-bleu:hover {
    background-color: #71a4d1
}

.formulaire_crea {
    max-width: none;
    margin-top: 80px;
    max-width: 1280px;
    padding-left: 10%!important;
    padding-right: 10%!important;
}

.image_crea {
    height: 502px;
    background-image: ;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}

.securebtn2 {
    margin-top: 500px;
}

.btn_crea_2 {
    margin-top: 250px;
}

/* label color */

.input-field label {
    color: #6290b7;
}

/* label focus color */

.input-field input[type=text]:focus + label {
    color: #6290b7;
}

/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid #6290b7;
    box-shadow: 0 1px 0 0 #6290b7;
}

/* valid color */

.input-field input[type=text].valid {
    border-bottom: 1px solid #6290b7;
    box-shadow: 0 1px 0 0 #6290b7;
}

/* invalid color */

.input-field input[type=text].invalid {
    border-bottom: 1px solid #6290b7;
    box-shadow: 0 1px 0 0 #6290b7;
}


/* icon prefix focus color */

.input-field .prefix.active {
    color: #6290b7;
}


/*********TOOLS*******/

.shadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.shadowin {
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 1)!important;
}

.bleu {
    color: #5498d4 !important;
}

.grisc {
    color: #999 !important;
}

.addmiss {
    cursor: pointer;
}

.showend {
    cursor: pointer;
}



.btn_crea_3 {
    margin-top: 520px;
}

.creabody {
    background: url(../../assets/img/summerfest.jpg);
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    margin-bottom: 0px;
    z-index: 0;
}

.title_404 {
    margin-top: 80px;
}

.content-blog {
    margin-top: 50px !important;
}

.modal-debug {
    display: inline-block;
}

.publish-button {
    margin-left: 50px!important;
}


/**** !responsive ****/

@media only screen and (min-width: 600px) and (max-width: 992px) {
    .content-bloc {
        padding: 60px 30px;
    }
    .content-bloc h1 {
        font-size: 2.5em;
    }
    .text-wrapper h6 {
        font-size: 2em;
    }
    .image_crea {
        height: 900px;
    }
}


/*** MOBILE ***/

@media screen and (min-width: 0px) and (max-width: 600px) {
    .blocprincipal {
        width: 100% !important;
        height: 50vh;
    }
    .bgblue,
    .bgorange {
        height: 50vh;
    }
    .big-img {
        height: 100vh;
    }
    .content-bloc h1 {
        font-size: 2em;
    }
    .double-content {
        width: 100%;
    }
    .image_crea {
        display: none;
    }

    .formulaire_crea {

        padding-left: 0%!important;
        padding-right: 0%!important;
    }

    .event_secure_input {
        width: 50%!important;
        float: left;
    }

}

.event_secure_input {
    width: 50%!important;
    float: left;
}

/*** page edit profile ***/

.container-full
{
    width: 100%;
}

.nav-profil
{
    background-color: #3a3a3a;
    height: 43px;
    line-height: 40px;
    position: relative;
    margin-top: 64px;
}

.nav-profil ul li a
{
    color: #f5f5f5;
    display: block;
}

a.nav-profil-active
{
    border-bottom: 3px solid #fb8c00;
}

.nav-profil ul li a:hover
{
    color: #fff;
}

.nav-wrapper-profil
{
    width: 80%;
    margin: auto;
}

.nav-wrapper-profil ul li
{
    float: left;
    font-size: 1rem;
    display: block;
    padding: 0 15px;
}

.select
{
    position: relative;
    display: inline-block;
}

textarea
{
    height:auto;
    padding: 8px 10px;
}

.minwidth
{
    width: auto;
}

.panel{
    border: 1px solid #dce0e0;
    background-color: #fff;
}

.panel-header
{
    color: #fff;
    border-bottom: 1px solid #dce0e0;
    background-color: #5498d4;
    position: relative;
    padding: 12px 20px;
}

.panel-text{
    padding: 20px;
}

.upload-profile-pic
{
    position: absolute;
    bottom: 0;
}

.upload-profile-pic input.upload
{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    height: 100%;
    filter: alpha(opacity=0);

}

.btn-block
{
    width: 100%;
    height: auto;
    border-color: #565a5c;
    border-bottom-color: #383b3c;
    background-color: #565a5c;
}

.btn-block:hover
{
    background-color: #7b7f81;
}


.formedit-profile .input-field label
{
    left: 0;
}
/***page search events***/

.filter {
    margin-top: 10px
}


.decal {
    padding:1rem 2rem;
}

#search {

}

#search input[type="text"] {
    border: 1px solid #d1d1d1;
    color: #bebebe;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    padding-left: 50px;
    box-sizing: border-box;
}
#search input[type="text"]:focus {
    border-color:#d1D1D1;

}
/* individual: webkit */



#location-search {
    background: white url(../img/location.png) left no-repeat;
}

#input-search {
    background: white url(../img/search.png) left no-repeat; !important
}

#search-event input[type="text"] {
    border: 1px solid #d1d1d1;
    color: #bebebe;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    padding-left: 60px;
    box-sizing: border-box;
}
#search-event input[type="text"]:focus {
    border-color:#d1D1D1;

}
/* individual: webkit */


#event-search {
    background: white url(../img/search.png) left no-repeat;
}

.collapsible a {
    color:#AAA;
}

.collapsible a:hover {
    color: #ff8b02;
}

.margtop100 {
    margin-top:100px;
}

a.btn.btn-vue-bis {
    color: #FFF;
    padding-top: 5px;
}

a.btn.btn-vue-bis:hover {
    color: #FFF;
}

a.viewmore.btn.btn-vue-bis:focus,
a.card-action:focus, .grey-text.text-lighten-3:focus, .btn-blue:focus {
    box-shadow: 0px 0px 5px rgba(56, 169, 240, 0.75);
}

.btn-vue-bis {
    border: 2px solid #5498d4;
    background: #5498d4;
    color: #fff;
    height:3rem;

}

.btn-vue-bis:hover {
    background: #5498d4;
}

#search input[type=text]:focus {
    box-shadow: none;
}

#search-event input[type=text]:focus {
    box-shadow: none;
}


.card {
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    box-shadow: none;
}


/*******************************/

.event_couv {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5) inset;
    width: 100%;
    height: 478px;
    margin-bottom: -6px!important;
}

.event_maincontent {
    height: auto;
    background: #fafafa;
    padding-right: 0px!important;
    padding-left: 50px!important;
    padding-bottom: 20px!important;
}

.event_col_droite {
    padding: 20px!important;
    float: left;
    height: auto;
    padding-right: 50px!important;
}

.event_media {
    background-color: #ccc;
    height: auto;
    width: 23%;
    float: left;
    margin-right: 1%;
    margin-left: 1%;
    background: url(../img/party.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.event_media:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.event_secure_bouton {
    margin-left: 10%;
    width: 80%;
}

.event_sstitre {
    color: #888;
    font-size: 1.4em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.clear {
    clear: both;
}

.event_picto_soc {
    height: 50px;
    width: 49px;
    background: #fff;
    float: left;
    margin-right: 8px;
    margin-left: 1px;
    margin-bottom: 10px;
    border-radius: 2px;
}

.event_picto_soc:hover {
    -webkit-transform: rotate(345deg);
    -moz-transform: rotate(345deg);
    -ms-transform: rotate(345deg);
    -o-transform: rotate(345deg);
    transform: rotate(345deg);
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
}

.event_picto_face {
    height: auto;
    width: 49px;
    background: #333;
    float: left;
    margin-right: 8px;
    margin-left: 1px;
    margin-bottom: 10px;
    border-radius: 120px;
}

.blued {
    color: #6290b7;
}

.clear {
    clear: both;
}

#secure_row {
    margin-bottom: 0px!important;
}

.event_volunteers {
    background: #fff;
    padding: 20px 0px 20px 0px;
    border-radius: 2px;
    width: 100%;
}

.content-event {
    margin-top: 50px!important;
    padding-right: 11px;
    background: #fafafa;
}

.container_shadow {
    width: 50%;
}

.secure_hover_picto {
    height: 60px;
    opacity: 0.8;
}

.body_color {
    background-color: #eee;
    background-position: center;
    background-size: cover;
}

.event_title {
    letter-spacing: 2px;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #417aab;
}

.collection-item1 {
    background-color: #fff;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
    display: block;
}

#event_text {
    width: 50%!important;
    color: #Fff;
}
.event_nb_need {
    width: 10%!important;
    float: left;
    background-color: #fff;
}
.event_mis_need {
    width: 90%!important;
    float: left;
    letter-spacing: 1px;
    font-size: 1em;
    color: #888!important;
}
.event_secure_nb {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 6px;
    font-size: 1.4em;
    color: #fb8c00;
    font-weight: bold;
}
.more_margin {
    height: 10px;
}
.event_color_border {
    background-color: #ccc;
}
.event_vol_faces {
    width: 80%;
    margin-left: 20%;
    margin-right: 10%;
}
@media screen and (min-width: 0px) and (max-width: 900px) {
    .event_media {
        width: 48%;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 2%;
    }
}
@media screen and (min-width: 0px) and (max-width: 1150px) {
    .event_faces_responsive {
        display: none;
    }

    .event_vol_faces {
        width: 80%;
        margin-left: 15%;
        margin-right: %;
    }
}
@media screen and (min-width: 800px) and (max-width: 900px) {
    .event_vol_faces {
        width: 80%;
        margin-left: 16%;
    }
    #event_faces_responsive1 {
        display: block!important;
    }
}
.event_fb {
    background-image: url(../img/faceb.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 95%;
}

.event_tw {
    background-image: url(../img/inkedin.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 95%;
}

.event_apog {
    margin-left: 20px;
    margin-right: 20px;
}
.read-more-state {
    display: none;
}
.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
}
.read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
}
.read-more-state ~ .read-more-trigger:before {
    content: 'Show more';
}
.read-more-state:checked ~ .read-more-trigger:before {
    content: 'Show less';
}
.read-more-trigger {

    float: right;
    display: block;
    position: relative;
    font-size: 1em;
    line-height: 0px;
}
.none {
    display: none;
}
.faq {
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #fff;
    border-bottom: none;
}
.bottom {
    margin-bottom: 15px;
}
.police {
    font-size: 1em;
}
.toggle_content {
    font-size: 11px;
}
.margin {
    margin: 10px!important;
}
.event_secure_chip {
    float: left;
    margin-left: -5px;
    margin-top: 5px;
    margin-right: 15px;
    font-size: 0.7em;
}

.event_secure_chip2 {
    float: left;
    margin-left: 5px!important;
    margin-top: 5px!important;
    margin-right: 15px;
    font-size: 0.7em;
}

}
.event_secure_btn2 {
    width: 10%;
    float: left;
}
.event_secure_comment {
    width: 20%;
    float: left;
}
.event_secure_coment {
    width: 80%;
    float: left;
    display: block!important;
    height: auto!important;
}
.event_back_coment {}
.grey_diff {
    background: #f5f5f5;
}
.event_secure_height {
    height: 60px;
}
@media screen and (min-width: 0px) and (max-width: 700px) {
    .event_vol_faces {
        width: 70%;
        margin-left: 21%;
    }

    .event_maincontent {
        padding: 0px!important;
    }

    .event_col_droite{
        padding-right: 20px!important;
    }

    .event_faces_responsive{
        display: block;
    }


}
@media screen and (min-width: 0px) and (max-width: 1200px) {
    .event_secure_chip {
        width: 100px!important;
    }

    .event_secure_btn2 {
        width: 10px!important
    }
}


.mission {
    margin-top: 50px!important;
}

.btn_crea1 {
    margin-bottom: 0px!important;
}

.btn_crea2 {
    margin-bottom: 20px!important;
}

.logo_svg {
    height: 50px;
    margin-top: 7px;
}

#bgvid {

}

absolute {
    position: absolute;
}

.nomargin {
    margin:0px!important;
    padding: 0px!important;
}



.padding_left {
    padding-left: 10px;
}

.width {
    width: 100px;
}

@media screen and (min-width: 800px) and (max-width: 2000px) {
    .event_secure_input {
        width: 60%!important;
        float: left;
    }

    .question_input {
        width: 77%!important;
        margin-top: -10px!important;
    }
}

.reponse {
    border-left: 5px #62A1D6 solid;
    margin-top: 10px;
}

.padding {
    padding-bottom: 15px;
}

.secure_reponse {
    margin-top: 0px!important;
    padding: 10px!important;
    width: 68%;
    margin-left: 120px;
    color: #888;

}

.dshadow {
    box-shadow: none!important;
}

.reply {
    color: #51a7f9;
    text-decoration: underline;
}

.accordion_border {
    border-bottom: 1px solid #ccc;
}

.radius {
    border-radius: 2px;
}

.encar {
    border: 1px #ddd solid;
    border-radius: 2px;
    padding: 15px;
    background: #fff;
    overflow: visible;
    overflow: hidden;
    margin-bottom: 15px;
}

.auto {
    height: auto;
}

.block {
    display: inline-block;
}



.upborder {
    border-top: 1px #ddd solid;
}



.event_ins {
    background-image: url(../img/insta.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 95%;
}

.event_yout {
    background-image: url(../img/ytube.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 95%;
}

.bluec {
    color: #51a7f9;
}

.map {
    margin: 2%;
    padding: 1%;
}
